<a href="https://colab.research.google.com/github/amdeyk/ii_scproj/blob/main/PNB_4_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practice Notebook

#### Manually Created Functions
Functions are very easy to write in python and all non-trivial programs have functions. Function names have the same rules as variable names.

#### Built in Functions
Python comes with a nice set of built-in functions
The complete set can be seen at:https://docs.python.org/3.6/library/functions.html

We take a look at the most used ones here.

## Manually Created Functions

#### Exercise 01: Build a function that takes the below string as a parameter and returns the words in the given string in backward order.

Hint: [Split the words and join them in the reverse order using ' '.join(iterable)](https://docs.python.org/3/library/stdtypes.html)

In [ ]:
string1 = "my name is johnny"

In [6]:
def  reverse_string(string_orig):
  final_item = ""
  for iterate_item in range(len(string_orig)-1,-1,-1):
    final_item = final_item + string_orig[iterate_item]
  return final_item

string_orig = 'Hello For Reverse'
print('The reverse of the string  >> ',string_orig, ' <<<< is >>>> ', reverse_string(string_orig))

The reverse of the string  >>  Hello For Reverse  <<<< is >>>>  esreveR roF olleH

#### Exercise 02: For the given tuple of numbers, do the following:
* Write a function which takes an integer 'N' as a parameter and returns the sum of multiples of 3 or 5 between 0 and N (limit). Where N is any element from the given tuple.
* Print all the sum of multiples for each element from the tuple.
* Example: If we list all the natural numbers less than 10 that are multiples of 3 or 5, we get 3, 5, 6, and 9 and their sum is 23

In [ ]:
tuple2 = (10, 20, 30, 40, 50)

In [12]:
def multiplier(N):
  if N < 3 :
    return 0
  sum_of = 0
  for iterator_mul in range(N):
    if iterator_mul%3 ==0:
      sum_of = sum_of + iterator_mul
    elif iterator_mul%5 ==0:
      sum_of = sum_of + iterator_mul
  return sum_of

tuple2 = (10,20,30, 40, 50)
N = 3
print('The sum of  the multples of 3 and 5 present in the Tuple Value of ', tuple2[N],' is == > ', multiplier(tuple2[N]) )

The sum of  the multples of 3 and 5 present in the Tuple Value of  40  is == >  368

#### Exercise 03: Build a function to print prime numbers within the given range.

In [25]:
limit = 121
limit_start = 77
def prime_number_print(limit_start, limit):
  for prime_iter in range(limit_start,limit):
    prime_check = 0
    for prime_iter_inside in range(1,prime_iter):
      if prime_iter%prime_iter_inside == 0:
        pass
      else : 
        prime_check += 1
    if prime_check+2 == prime_iter :
      print(prime_iter, ' is a prime number')
  return

prime_number_print(limit_start, limit)

79  is a prime number
83  is a prime number
89  is a prime number
97  is a prime number
101  is a prime number
103  is a prime number
107  is a prime number
109  is a prime number
113  is a prime number

#### Exercise 4: Rock Paper Scissors: Complete the function below that takes the given input word as a parameter and selects a random element from the words list. It then prints the random word within the function and returns a string, declaring 'win' or 'lose' or 'tie'.

Example: Random input= 'Scissors', User input= Paper, Output = 'lose'

Hint: [random.choice](https://docs.python.org/3/library/random.html)

In [32]:
import random
input  = 'Paper'

def game(input):
  ## Complete the function
  words = ['Rock','Paper','Scissors']
  random_choice_selection = random.choice(words)
  if input == random_choice_selection:
    status_t = 'Tie'
  elif input=='Rock' and random_choice_selection == 'Paper':
    status_t = 'lose'
  elif input=='Paper' and random_choice_selection == 'Scissors':
    status_t = 'lose'
  elif input=='Scissors' and random_choice_selection == 'Rock':
    status_t = 'lose'
  else :
    status_t = 'Win'
  
  print('Random input= ', random_choice_selection,' User input= ', input, ' Output = ', status_t )
  return

game(input)

Random input=  Paper  User input=  Paper  Output =  Tie

## Built-in Functions

#### Exercise 05: Extract maximum value of each element in the given list using the built-in max function.



Hint: [max(iterable)](https://docs.python.org/3/library/functions.html#max)

In [ ]:
list1 = [[1,2,4],[5,6],[8,9,12],[21,44],[121]]

In [34]:
list1 = [[1,2,4],[5,6],[8,9,12],[21,44],[121]]

def max_in_list(list1):
  for list_iter in list1:
    print('The Max Value present in the List ', list_iter, '  is  ', max(list_iter))
  return

max_in_list(list1)

The Max Value present in the List  [1, 2, 4]   is   4
The Max Value present in the List  [5, 6]   is   6
The Max Value present in the List  [8, 9, 12]   is   12
The Max Value present in the List  [21, 44]   is   44
The Max Value present in the List  [121]   is   121

#### Exercise 06: For given list *a* and *b* perform the following Aggregate Functions
* len(iterable)
* max(iterable)
* min(iterable)
* sorted(iterable, key, reverse)
* sum(iterable, start)

In [37]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = [5,10, 15, 20, 25, 30, 35, 40, 45, 50]

print('Lenght of a is ', len(a), ' and b is ', len(b))
print('Max of a is ', max(a), ' and b is ', max(b))
print('Min of a is ', min(a), ' and b is ', min(b))
print('Sorted list a is ', sorted(a), ' and b is ', sorted(b))
print('Sum of a is ', sum(a), ' and b is ', sum(b))

Lenght of a is  10  and b is  10
Max of a is  10  and b is  50
Min of a is  1  and b is  5
Sorted list a is  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  and b is  [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
Sum of a is  55  and b is  275

In [ ]:
# YOUR CODE HERE

#### Exercise 07: Print the data type of x, y and z  values

In [39]:
x = 10
# YOUR CODE HERE
print('The Datatype of x is ', type(x))
y = 12.6
# YOUR CODE HERE
print('The Datatype of y is ', type(y))
z = x + y  
# YOUR CODE HERE
print('The Datatype of z is ', type(z))

The Datatype of x is  <class 'int'>
The Datatype of y is  <class 'float'>
The Datatype of z is  <class 'float'>

Exercise 08:  Initialize the string and perform the following:

1. Check the type of string
2. convert string to int and check the type

In [ ]:
a = '1234'
# YOUR CODE HERE

In [41]:
a = '1234'
print('The Datatype of a is ', type(a))
a = int(a)
print('The Datatype of a is ', type(a))

The Datatype of a is  <class 'str'>
The Datatype of a is  <class 'int'>