<a href="https://colab.research.google.com/github/amdeyk/ii_scproj/blob/main/PNB_8_Tuples_and_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Tuples**

####Exercise 01: 
For the given tuple1 and tuple2, do the following:

* Concatenate tuple1 and tuple2.
* Multiply tuple1 with 2.
* Check the output for, 'a' in tuple2.

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = ('a', 'b' , 'c' ,'d' , 'e')

In [ ]:
tupl3 = tuple1 + tuple2
print(tupl3)

In [ ]:
print('The first orginal Tuple is ', tuple1)
print('The second orginal Tuple is ', tuple2)

result_multiply = tuple(tup1 * tup2 for (tup1, tup2) in zip(tuple1, tuple2)) 

print('the Multiplied Tuple is ', result_multiply)

In [ ]:
# YOUR CODE HERE

In [ ]:
# YOUR CODE HERE

#### Exercise 02:  
Swap the following two tuples:

In [ ]:
tuple1 = (11, 22)
tuple2 = (99, 88)
print(' the Content of the First tuple before Swap is ', tuple1, ' and the content of the second tuple before swap is ', tuple2)
tuple1 , tuple2 =  tuple2, tuple1
print(' the Content of the First tuple after Swap is ', tuple1, ' and the content of the second tuple after swap is ', tuple2)

 Expected output : tuple1 = (99, 88) , tuple2 = (11, 22)

In [ ]:
## YOUR CODE HERE

#### Exercise 03: 
Modify the first item of a list (22) inside a following tuple to 222.

In [ ]:
tuple3 = (11, [22, 33, [100,101], 21], 44, 55)
tuple3[1][0]=222
print(tuple3)

Expected Output : (11, [222, 33], 44, 55)

In [ ]:
#YOUR CODE HERE

#### Exercise 04: 
Concatenate two tuples in the following order:

In [ ]:
tuple4 = (0, 1, 2, 3) 
tuple5 = ('Teacher', 'Student')

Expected Output :  (0, 1, 2, 3, 'Teacher', 'Student')

In [ ]:
print(tuple4 + tuple5)

#### Exercise 05: 
For the given tuple, find the index of the sub-tuple whose elements makes a sum of 36.

In [ ]:
tuple1 = ((19,23),(20,22),(18,18),(16,20))

In [ ]:
for x,y in tuple1:
  print(x,y)
tuple1 = ((19,23),(20,22),(18,18),(16,20))
position = [tuple1.index((x,y)) for x,y in tuple1 if x+y ==36]
print('The position of the sub-tuple is', position)

#### Exercise 06: 
For the given tuple of numbers, do the following:
* Write a function which takes an integer 'N' as a parameter and returns the sum of multiples of 3 or 5 between 0 and N (limit). Where N is any element from the given tuple.
* Print all the sum of multiples for each element from the tuple.
* Example: If we list all the natural numbers less than 10 that are multiples of 3 or 5, we get 3, 5, 6, and 9 and their sum is 23.

In [ ]:
tuple2 = (10, 20, 30, 40, 50)

def sum_numbers(paramN):
  sum = 0
  for iter_limit in range(paramN):
    if iter_limit%3 == 0 or iter_limit%5 ==0 :
      sum = sum + iter_limit
  return sum


output_list = [print('The Sum is ', sum_numbers(item)) for item in tuple2] # note the output list will be none as the Output per iter is None

## **Sets**

####Exercise 07: 
* Declare a set using curly brackets.
* Store it in a variable.
* Check the type of the object created.

In [ ]:
set1 = {'Hello','My','Dog'}
print(type(set1))

####Exercise 08: 
* Declare a set using `set()` method.
* Store it in a variable.
* Print the results.

In [ ]:
# Declaring `set`, style2
#YOUR CODE HERE

####Exercise 09: 
* Declare a set.
* Add an element to set by using `.add()` over the object of set.
* Print the results.

In [ ]:
# YOUR CODE HERE